[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docopt = "*"
owlmixin = "*"

[dev-packages]
twine = "*"
wheel = "*"
pipenv = "*"
# sphinx, twine vulnerables
urllib3 = ">=1.24.2"

[requires]
python_version = "3.7"
